@use "../../styles/mixin.scss";

.deck {}
.deck__inner {
    background: #fff;
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.deck__heading {
    font-size: 30px;
    margin-bottom: 10px;
}
.deck__num {
    text-align: right;
}