@use "../../styles/mixin.scss";

.card {
    background: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 5px 5px 0 rgba(#000, .3);
    width: 100%;
    height: 50%;
    perspective: 30px;
    position: relative;
}
.card__head {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    z-index: 2;
}
.card__word {
    font-weight: bold;
    font-size: 30px;
    @include mixin.centerize;
}
.card__example {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
}
.card__voice {}
.card__image {}

.card__tail {
    // display: none;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.card.isReversed {
    transform: rotateY(180deg);
    .card__head {
        z-index: 1;
    }
    .card__tail {
        z-index: 2;
    }
}