.cardController {
    width: 100%;
    height: 100%;
    position: relative;
}

.cardController__list {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    > li {
        display: none;
        list-style: none;
        width: 100%;
        height: 100%;
        position: absolute;
        
        &.isVisible {
            display: block;
        }
    }
}

.cardController__direction {
    position: absolute;
    width: 100%;
    height: 100%;
    > button {
        position: absolute;

        &:nth-child(1){
            top: 0;
        }

        &:nth-child(2){
            left: -100px;
            top: 100px;
        }

        &:nth-child(3){
            right: -100px;
            top: 100px;
        }
    }
}

.cardController__back {
    position: absolute;
    bottom: 40%;
    left: 0;
    z-index: 9;

    > button {
        position: absolute;

        &:nth-child(1){
            left: 0;
        }
    }
}